.login {
    background-color: #272715;
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: repeat(12, 1fr);
    grid-template-columns: repeat(12, 1fr);
    padding: 0; 
    margin: 0; 
    box-sizing: border-box; 
}

.leftContent {
    grid-row-start: 1;
    grid-row-end: 13;
    grid-column-start: 1;
    grid-column-end: 6;
    height: 100vh;
    width: 100%;
    background-image: url("../public/parmesan.jpg");
    background-position: center center;
    background-size: cover;
}

.logContent {
    grid-row-start: 1;
    grid-row-end: 13;
    grid-column-start: 6;
    grid-column-end: 13;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 50px;
}

.logo {
    height: 100px;
    width: 100px;
    grid-row-start: 1;
    grid-row-end: 13;
    grid-column-start: 6;
    grid-column-end: 13;
    margin-top: 10px;
    margin-left: 10px;
}

.text {
    color: white;
    font-weight: 800;
}

.title {
    color: white;
    font-weight: 800;
    font-size: 70px;
    width: 500px;
}

.signup {
    width: 150px;
    height: 40px;
    color: white;
    font-weight: bold;
    background-color: #f3bc23;
    border: solid #f3bc23;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 0 5px 0 #b88b0d;
}

.signup:active {
    margin-top: 5px;
    box-shadow: 0 0px 0 #b88b0d;
}

.signin {
    width: 150px;
    height: 40px;
    color: #f3bc23;
    font-weight: bold;
    background-color: #272715;
    border: 1px solid grey;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 0 5px 0 grey;
}

.signin:active {
    margin-top: 5px;
    box-shadow: 0 0px 0 grey;
}

.signup:hover, .signin:hover {
    opacity: 0.8;
}
